#nameDiv{
    background-color: blueviolet;
    text-align: center;
}
a:hover, a{
    color:currentColor;
    text-decoration: none;
}


.pageCard{
    transition: all 0.2s;
}
.pageCard:hover{
    transform: scale(1.04);
    
}

div{
    transition: 1s;
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#input{
    resize: none;
}

#warning{
    position:fixed;
    bottom: 0;
    right: 0;
    background-color: black;
    color:white;
    padding: 10px;
}


#goofer{
    z-index: 1;
}
#goofyrange{
    z-index:1;
    position:fixed;
    display:none;
}