/*
(alfabetycznie)
1.tagi
2.id
3.klasy
4.media
*/


a:hover, a{
    color:currentColor;
    text-decoration: none;
}

body{
    background: radial-gradient(circle, rgba(56,207,51,0.5018382352941176) 0%, rgba(48,226,255,0.5018382352941176) 50%, rgba(254,255,65,0.5018382352941176) 100%);
    background-size: 300% 300%;
    animation: gradient 20s ease infinite;
}
@keyframes gradient{
    0%{
        background-position: 0% 50%;
    }
    25%{
        background-position: 50% 100%;
    }
    50%{
        background-position: 100% 50%;
    }
    75%{
        background-position: 50% 0%;
    }
    100%{
        background-position: 0% 50%;
    }

}
div{
    transition: 1s;
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}





#goofer{
    z-index: 1;
}
#goofyrange{
    z-index:1;
    position:fixed;
    display:none;
}
#emojiinput{
    resize: none;
    width:100%;
    border:none;
    outline: none;
}
#name{
    text-shadow: 3px 3px 0px rgb(255, 3, 3),-3px -3px 0px rgb(214, 252, 0);
    color:orange;
    text-align: center;
}
#nameDiv{
    color:rgb(234, 0, 255);
}
#warning{
    position:fixed;
    bottom: 0;
    right: 0;
    background-color: black;
    color:white;
    padding: 10px;
}





.nobreak{
    white-space: nowrap;
}
.pageCard{
    transition: all 0.2s;
}
.pageCard:hover{
    transform: scale(1.04);
    
}





@media(max-width:992px){
    #nameDiv{
        text-shadow: 2px 2px 0px rgb(255, 3, 3),-2px -2px 0px rgb(214, 252, 0);
    }
}